@model IEnumerable<blog.Controllers.Categoria>

@{
    ViewBag.Title = "ListCategoria";
}

<h2>ListCategoria</h2>

<p>
    @Html.ActionLink("Crear nuevo", "FormCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigoCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigoCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.codigoCategoria  })  |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.codigoCategoria  })
        </td>
    </tr>
}

</table>
